@import '../base/utils';
@import '../base/base';
@import '../base/normalize';
@import '../base/typography';

.header {
  // overflow: hidden;
  background-color: $YBlack;
  position: sticky;
  top: 0px;
  z-index: 10;
  transition: all 0.4s;
  height: 50px;
  background: url(/content/first/bg-img-header_result.webp) no-repeat center;
  background-size: cover;

  @include nmd {
    display: none;
  }

  &__menu {
    height: 100%;
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__menu-item {
    position: relative;
    display: flex;
    align-items: center;

    a {
      font-family: $font-petrov;
      font-weight: 900;
      font-size: Clamp(12px, 2vw, 28px);
      line-height: 111%;
      text-transform: uppercase;
      color: #ffffff;
      vertical-align: middle;

      &::before {
        content: '';
        display: block;
        width: calc(100% + 65px);
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.1);
        opacity: 0;
        z-index: -1;
        transition: all 0.2s;
      }
    }

    a:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

.header__hide_js {
  visibility: visible;
  top: -100px;
  z-index: 10;
  opacity: 0;
}
