.header {
  position: relative;
  z-index: 5;
    @include nsm {
      max-height: 23vw;
    }
    @include nsm {
      max-height: clamp(88.38px, 25vw, 176.86px);
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 162px;
      @include nlgx {
        height: 8.5vw;
      }
      @include nsm {
        display: none;
      }
    }
    &__wrapper-mob {
      display: none;
      @include nsm {
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: flex-start;
        padding-top: 6vw;
        padding-bottom: 6vw;
        background-color: #FFF;
  
      }
    }
    &__title-mob {
      font-family: $font;
      font-weight: 500;
      font-size: 31px;
      text-align: start;
      @include nsm {
        margin-left: 2vw;
        font-size: 4.37vw;
      }
    }
    &__wrapper-mob-popup {
      display: none;
      @include nsm {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 6vw;
        padding-bottom: 6vw;
        background-color: #FFF;
        height: 14vw;
      }
    }
    &__title-mob-popup {
      font-family: $font;
      font-weight: 500;
      font-size: 31px;
      text-align: start;
      @include nsm {
        margin-left: 2vw;
        font-size: 4.37vw;
      }
    }
  
    &__burger {
      display: flex;
      flex-direction: column;
      margin-left: 36.9vw;
      position: relative;
      height: 50px;
      width: 50px;
      z-index: 20;
      @include nxs {
        margin-left: 31.9vw;
      }
    }
  
    &__line {
      height: 4px;
      width: 47px;
      background-color: #000;
      background-color: #000;
      border-radius: 40px;
      position: absolute;
      @include nxs {
        height: 3px;
        width: 35px;
      }
    }
  
    &__line:nth-of-type(2) {
      bottom: 9px;
      transition: all 0.4s ease-out;
      @include nxs {
        bottom: 12px;
      }
    }
    &__line:nth-of-type(1) {
      bottom: 22px;
      transition: all 0.3s ease-out;
      @include nxs {
        bottom: 22px;
      }
    }
  
    &__line:nth-of-type(3) {
      top: 11px;
      transition: all 0.4s ease-out;
      @include nxs {
        top: 15px;
      }
    }
    &__line:nth-of-type(1).cross-js {
      transform: scale(0);
    }
    &__line:nth-of-type(2).cross-js {
      transform: rotate(45deg);
      width: 34px;
      bottom: 24px;
      @include nxs {
        width: 20px;
        bottom: 26px;
      }
    }
  
    &__line:nth-of-type(3).cross-js {
      transform: rotate(-45deg);
      width: 34px;
      top: 21px;
      @include nxs {
        width: 20px;
        top: 21px;
      }
    }
    &__line:nth-of-type(3).cross-js.helicopter-js {
      width: 31px;
      top: 12px;
      right: 29px;
      transform: rotate(315deg);
      @include nxs {
        width: 20px;
        top: 13px;
      }
    }
    &__line:nth-of-type(2).cross-js.helicopter-js {
      right: 29px;
      width: 31px;
      bottom: 33px;
      transform: rotate(405deg);
      @include nxs {
        width: 20px;
        bottom: 34px;
      }
    }
    
    &__line.transparent-js {
      display: none;
    }
  
  
    &__nav {
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 100%;
      max-width: 1322px;
      font-family: $font;
      font-weight: 400;
      font-size: 24px;
      margin-right: 12px;
      @include nlgx {
        max-width: 84.2vw;
      }
    }
    &__logo {
      height: 95.47px;
      @include nlgx {
        height: 6.06vw;
      }
      @include nsm {
        height: 11.06vw;
      }
    }
    &__item {
      transition: color 0.1s ease-in, text-shadow 0.1s ease-in;
      @include nlgx {
        font-size: 1.54vw;
      }
    }
    &__item:hover {
      color: #3C3C3C;
      text-shadow: #3C3C3C 1px 0 1px;
    }
    &__popup-mob {
      text-align: center;
      transition: transform 0.4s ease-out;
      transform: translateY(-1500px);
      z-index: 50000;
      display: none; 
      @include nsm {
        display: block;
      }
    }
    &__popup-mob.active {
      transform: translateY(0px);
    }
  
    &__popup-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 1vw;
      border-radius: 0 0 3vw 3vw;
      background-color: #fff;
    }
  
  
    &__item-mob {
      font-size: 5.1vw;
      padding: 4.25vw 0vw;
      color: #3C3C3C;
    }
  
    &__phone-wrapper {
      border-top: 2px #E1EEFF solid;
      margin-top: 2vw;
      padding: 6.5vw 0vw 16vw 0vw;
      justify-content: center;
      display: flex;
    }
  
    &__img {
      width: 6.3vw;
      margin-right: 2vw;
      padding-top: 0.4vw;
    }
  
    &__phone {
      font-family: $font;
      font-weight: 600;
      font-size: 5.5vw;
      position: relative;
      color: #2468FF;
    }
    &__phone::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.5vw;
      background-color: #2468FF;
      top: 6vw;
      left: 0;
  
    }
  }


// menu cities 
.__select {
  ::-webkit-scrollbar {
    width: 6px;
    display: none;
    // background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    display: none;
  }
  position: relative;
  width: 125px;
  height: 40px;

  @include nlgx {
    width: 9.24vw;
    height: 2.55vw;
  }

  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
        @include nlgx {
          transform: translate(-0.19vw, -50%) rotate(-45deg);
        }
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
        @include nlgx {
          transform: translate(0.19vw, -50%) rotate(45deg);
        }
      }
    }
    
    .__select__content {
      z-index: 5000;
      opacity: 1;
      visibility: visible;
    }
    
    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
      border-top-width: 1px;
      @include nlgx {
        max-height: 2.55vw;
      }
    }
  }
}
.__select__title {
  display: inline-table;
  align-items: baseline;
  font-weight: 500;
  font-size: 25px;
  width: 100%;
  height: auto;
  padding: 0px 16px 0px 0px;
  position: absolute;
  overflow: hidden;
  @include nlgx {
    padding: 0px 1.02vw; 
    font-size: 1.59vw;
  }

  
  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 60%;
    right:  2px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #2468FF;
    transform: translate(-3px, -50%) rotate(45deg);
    @include nlgx {
      width: 0.64vw;
      right: 0vw;
      height: 0.13vw;
      transform: translate(-0.19vw, -50%) rotate(45deg);
    }
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
    @include nlgx {
      transform: translate(0.19vw, -50%) rotate(-45deg);
    }
  }

  &:hover {
    border-color: #2468FF;

    &::before,
    &::after {
      background-color: #2468FF;
    }
  }
}
// .reset {
//   display: flex;
//   width: 230px;
//   padding: 8px 16px;
//   margin: 0 auto;
//   margin-bottom: 10px;
  
//   border: solid 1px #c7ccd1;
//   border-radius: 5px;
  
//   transition: all 0.2s ease-out;
  
//   cursor: pointer;
  
//   font-weight: bold;
  
//   background-color: #ffffff;
//   color: #333333;
  
//   &:hover {
//     background-color: #2468FF;
//     color: #ffffff;
//   }
// }
.__select__content {
  position: absolute;
  top: 30px;
  left: 3px;
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 5000;
  visibility: hidden;

  height: 300px;
    @include nlgx {
      top: 1.91vw;
      left: 0.19vw;
      width: 17.20vw;
    }
}
.__select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 19px 16px;
  font-size: 25px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  @include nlgxx {
    justify-content: center;
    text-align: center;
  }

  @include nlgx {
    padding: 1.21vw 1.02vw;
    font-size: 1.59vw;
  }

  & + input + & {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    background-color: #2468FF !important;

    color: #ffffff;
  }
}
.__select__label:first-of-type {
  display: none;
} 

// menu cities mob

.__select-mob {
  ::-webkit-scrollbar {
    width: 6px;
    display: none;
    // background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    display: none;
  }
  position: relative;
  width: 145px;
  height: 40px;
  margin: 0 auto;

  @include nlgx {
    width: 9.24vw;
    height: 2.55vw;
  }
  @include nsm {
    width: max-content;
    height: 6.25vw;
    top: -10.75vw;
  }

  &[data-state-mob="active"] {
    .__select__title-mob {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
        @include nlgx {
          transform: translate(-0.19vw, -50%) rotate(-45deg);
        }
        @include nsm {
          transform: translate(-0.69vw, -50%) rotate(-45deg);
          
        }
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
        @include nlgx {
          transform: translate(0.19vw, -50%) rotate(45deg);
        }
        @include nsm {
          transform: translate(0.69vw, -50%) rotate(45deg);
          
        }
      }
    }
    
    .__select__content {
      opacity: 1;
      visibility: visible;

    }
    
    .__select__label-mob + .__select__input + .__select__label-mob {
      max-height: 40px;
      border-top-width: 1px;
      @include nlgx {
        max-height: 2.55vw;
      }
      @include nsm {
        max-height: 6.5vw;
      }
    }
  }
}
.__select__title-mob {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 25px;
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  @include nlgx {
    padding: 0px 1.02vw; 
    font-size: 1.59vw;
  }
  @include nsm {
    font-size: 5vw;
    padding: 0 1.56vw;
  }

  
  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 44%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #2468FF;
    transform: translate(-3px, -50%) rotate(45deg);
    @include nlgx {
      width: 0.64vw;
      right: 1.02vw;
      height: 0.13vw;
      transform: translate(-0.19vw, -50%) rotate(45deg);
    }
    @include nsm {
      width: 2vw;
      right: -2.32vw;
      height: 0.33vw;
      transform: translate(-0.69vw, -50%) rotate(45deg);
    }
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
    @include nlgx {
      transform: translate(0.19vw, -50%) rotate(-45deg);
    }
    @include nsm {
      transform: translate(0.69vw, -50%) rotate(-45deg);
      
    }
  }

  &:hover {
    border-color: #2468FF;

    &::before,
    &::after {
      background-color: #2468FF;
    }
  }
}
.__select__content {
  position: absolute;
  top: 30px;
  left: -90px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 5000;

  overflow: overlay;

    @include nlgx {
      top: 1.91vw;
      left: 5.73vw;
    }
    @include nsm {
      top: 5.91vw;
      left: -19.71vw;
      width: 60.38vw;
    }
}
.__select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label-mob {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  font-size: 25px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;

  @include nlgx {
    padding: 0 1.02vw;
    font-size: 1.59vw;
  }
  @include nsm {
    padding: 4vw 1.02vw;
    font-size: 5vw;
  }

  & + input + & {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    background-color: #2468FF !important;

    color: #ffffff;
  }
}
.__select__label-mob:first-of-type {
  display: none;
} 