web/robots.txt
/build
/runtime
/web/content/*
!/web/content/.gitkeep
/nbproject
/node_modules
/web/_static/.sass-cache
/web/forum/cache
/.sass-cache
/scss/.sass-cache
/web/images/.tmb/
/web/images/.quarantine/
/web/images-new/*
/web/styles/*.map
.DS_Store
Thumbs.db
.npm-debug.log
tests/_output/*
avito.xml
web/downloads/seo/serpstat/*
web/token.json
vendor/*
web/video/marathon/*
.idea/*
web/images/users/*
web/images/avatars/*
web/images/temp/*
vendor_back/*
images/yheroes/users
.git_backup
dump.sql
web/video/amsterdam57min_cut.mp4

*_whereIsBuy
*_m_png
*_web_p_cart
*_l_png
*_addGoodsInLand.
*_m_png.png
*_web_p_cart.png
*_l_png.png
*_addGoodsInLand.png
*_addGoodsInLand.jpg
*_web_p_cart.jpg
*_l_png.jpg
*_addGoodsInLand.webp
*_m_png.webp
*_web_p_cart.webp
*_l_png.webp
.git_back
*_xl_xl.png
*_xl_xl.webp
*_xl_m.png

commands/TestController.php

.htaccess
web/.htaccess
/config/credentials.php
/config/db.php
/config/db_test.php
/config/sphinx.php
/web/index.php
/web/index-test.php
/yii
!development/.htaccess
/common/request
/web/images-new/
/web/videos/

/sphinx.conf
/sphinx_local.conf
/sphinx/*
/uploads/*