body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
  }

  .container-1 {
    width: 300px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
    opacity: 0;

  }
  .container-2 {
    width: 500px;
    height: 500px;
    background-color: green;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
  }
  .container-3 {
    width: 500px;
    height: 500px;
    background-color: green;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: all 2s;
  }
  .container-4 {
    width: 500px;
    height: 500px;
    background-color: green;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: all 2s;
  }
  .container-5 {
    width: 500px;
    height: 500px;
    background-color: green;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: all 2s;
  }


  .box {
    width: 20px;
    height: 20px;
    background-color: blue;
  }