@import './base/utils';
@import './base/base';
@import './base/normalize';
@import './base/typography';
@import './common-styles/footer';

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  @include nlgx {
    font-size: 1.275vw;
  }
}

.container-box {
  max-width: 1592px;
  margin: 0 auto;
  padding: 0 16px;
  @include nlg {
    padding: 0 1vw;
  }
  @include nsm {
    padding: 0 3vw;
    
  }
}

.header {
  @include nsm {
    max-height: 23vw;
  }
  @include nsm {
    max-height: clamp(88.38px, 25vw, 176.86px);
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 162px;
    @include nlgx {
      height: 8.5vw;
    }
    @include nsm {
      display: none;
    }
  }
  &__wrapper-mob {
    display: none;
    @include nsm {
      display: flex;
      align-items: center;
      position: absolute;
      justify-content: flex-start;
      padding-top: 6vw;
      padding-bottom: 6vw;
      background-color: #FFF;

    }
  }
  &__title-mob {
    font-family: $font;
    font-weight: 500;
    font-size: 31px;
    text-align: start;
    @include nsm {
      margin-left: 2vw;
      font-size: 4.37vw;
    }
  }
  &__wrapper-mob-popup {
    display: none;
    @include nsm {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 6vw;
      padding-bottom: 6vw;
      background-color: #FFF;

    }
  }
  &__title-mob-popup {
    font-family: $font;
    font-weight: 500;
    font-size: 31px;
    text-align: start;
    @include nsm {
      margin-left: 2vw;
      font-size: 4.37vw;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    margin-left: 36.9vw;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 20;
    @include nxs {
      margin-left: 31.9vw;
    }
  }

  &__line {
    height: 4px;
    width: 47px;
    background-color: #000;
    background-color: #000;
    border-radius: 40px;
    position: absolute;
    @include nxs {
      height: 3px;
      width: 35px;
    }
  }

  &__line:nth-of-type(2) {
    bottom: 9px;
    transition: all 0.4s ease-out;
    @include nxs {
      bottom: 12px;
    }
  }
  &__line:nth-of-type(1) {
    bottom: 22px;
    transition: all 0.3s ease-out;
    @include nxs {
      bottom: 22px;
    }
  }

  &__line:nth-of-type(3) {
    top: 11px;
    transition: all 0.4s ease-out;
    @include nxs {
      top: 15px;
    }
  }
  &__line:nth-of-type(1).cross-js {
    transform: scale(0);
  }
  &__line:nth-of-type(2).cross-js {
    transform: rotate(45deg);
    width: 34px;
    bottom: 24px;
    @include nxs {
      width: 20px;
      bottom: 26px;
    }
  }

  &__line:nth-of-type(3).cross-js {
    transform: rotate(-45deg);
    width: 34px;
    top: 21px;
    @include nxs {
      width: 20px;
      top: 21px;
    }
  }
  &__line:nth-of-type(3).cross-js.helicopter-js {
    width: 31px;
    top: 12px;
    right: 29px;
    transform: rotate(315deg);
    @include nxs {
      width: 20px;
      top: 13px;
    }
  }
  &__line:nth-of-type(2).cross-js.helicopter-js {
    right: 29px;
    width: 31px;
    bottom: 33px;
    transform: rotate(405deg);
    @include nxs {
      width: 20px;
      bottom: 34px;
    }
  }
  
  &__line.transparent-js {
    display: none;
  }


  &__nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-width: 1322px;
    font-family: $font;
    font-weight: 400;
    font-size: 24px;
    margin-right: 12px;
    @include nlgx {
      max-width: 84.2vw;
    }
  }
  &__logo {
    height: 95.47px;
    @include nlgx {
      height: 6.06vw;
    }
    @include nsm {
      height: 11.06vw;
    }
  }
  &__item {
    transition: color 0.1s ease-in, text-shadow 0.1s ease-in;
    @include nlgx {
      font-size: 1.54vw;
    }
  }
  &__item:hover {
    color: #3C3C3C;
    text-shadow: #3C3C3C 1px 0 1px;
  }
  &__popup-mob {
    text-align: center;
    transition: transform 0.4s ease-out;
    transform: translateY(-1500px);
    z-index: 10;
    display: none; 
    @include nsm {
      display: block;
    }
  }
  &__popup-mob.active {
    transform: translateY(-20px);
  }

  &__popup-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    border-radius: 0 0 3vw 3vw;
    background-color: #fff;
  }


  &__item-mob {
    font-size: 5.1vw;
    padding: 4.25vw 0vw;
    color: #3C3C3C;
  }

  &__phone-wrapper {
    border-top: 2px #E1EEFF solid;
    margin-top: 2vw;
    padding: 6.5vw 0vw 6vw 0vw;
    justify-content: center;
    display: flex;
  }

  &__img {
    width: 6.3vw;
    margin-right: 2vw;
    padding-top: 0.4vw;
  }

  &__phone {
    font-family: $font;
    font-weight: 600;
    font-size: 5.5vw;
    position: relative;
    color: #2468FF;
  }
  &__phone::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5vw;
    background-color: #2468FF;
    top: 6vw;
    left: 0;

  }
}
.description {
  height: 713px;
  border-radius: 15px;
  display: flex;
  justify-content: center;

  @include nlgx {
    height: 45.4vw;
  }

  &__background {
    background: url("../content/images/desktop/description/bg.webp");
    background-size: cover;
    background-position: center;
    width: 155%;
  }

  &__wrapper {
    padding-top: 68px;
    @include nlgx {
      padding-top: 4.3vw;
    }
  }

  &__title {
    font-size: 46px;
    max-width: 761px;
    line-height: 118%;
    @include nlgx {
      font-size: 2.86vw;
      max-width: 46vw;
    }
  }

  &__text {
    max-width: 595px;
    font-weight: 400;
    line-height: 34px;
    @include nlgx {
      max-width: 38vw;
      line-height: 2.17vw;
    }
  }
  &__text:nth-of-type(1) {
    margin-top: 35px;
    @include nlgx {
      margin-top: 2.2vw;
    }
  }
  &__text:nth-of-type(2) {
    margin-top: 30px;
    @include nlgx {
      margin-top: 1.9vw;
    }

  }
  &__button {
    margin-top: 46px;
    margin-left: 3px;
    @include nlgx {
      margin-top: 2.95vw;
    }
  }
}







