@import './base/utils';
@import './base/base';
@import './base/normalize';
@import './base/typography';
@import './common-styles/footer';

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  @include nlgx {
    font-size: 1.275vw;
  }
}

.container-box {
  max-width: 1592px;
  margin: 0 auto;
  padding: 0 16px;
  @include nlg {
    padding: 0 1vw;
  }
  @include nsm {
    padding: 0 1vw;
    
  }
}
.header {
  @include nsm {
    max-height: 23vw;
  }
  @include nsm {
    max-height: clamp(88.38px, 25vw, 176.86px);
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 162px;
    @include nlgx {
      height: 8.5vw;
    }
    @include nsm {
      display: none;
    }
  }
  &__wrapper-mob {
    display: none;
    @include nsm {
      display: flex;
      align-items: center;
      position: absolute;
      justify-content: flex-start;
      padding-top: 6vw;
      padding-bottom: 6vw;
      background-color: #FFF;

    }
  }
  &__title-mob {
    font-family: $font;
    font-weight: 500;
    font-size: 31px;
    text-align: start;
    @include nsm {
      margin-left: 2vw;
      font-size: 4.37vw;
    }
  }
  &__wrapper-mob-popup {
    display: none;
    @include nsm {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 6vw;
      padding-bottom: 6vw;
      background-color: #FFF;

    }
  }
  &__title-mob-popup {
    font-family: $font;
    font-weight: 500;
    font-size: 31px;
    text-align: start;
    @include nsm {
      margin-left: 2vw;
      font-size: 4.37vw;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    margin-left: 36.9vw;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 20;
    @include nxs {
      margin-left: 31.9vw;
    }
  }

  &__line {
    height: 4px;
    width: 47px;
    background-color: #000;
    background-color: #000;
    border-radius: 40px;
    position: absolute;
    @include nxs {
      height: 3px;
      width: 35px;
    }
  }

  &__line:nth-of-type(2) {
    bottom: 9px;
    transition: all 0.4s ease-out;
    @include nxs {
      bottom: 12px;
    }
  }
  &__line:nth-of-type(1) {
    bottom: 22px;
    transition: all 0.3s ease-out;
    @include nxs {
      bottom: 22px;
    }
  }

  &__line:nth-of-type(3) {
    top: 11px;
    transition: all 0.4s ease-out;
    @include nxs {
      top: 15px;
    }
  }
  &__line:nth-of-type(1).cross-js {
    transform: scale(0);
  }
  &__line:nth-of-type(2).cross-js {
    transform: rotate(45deg);
    width: 34px;
    bottom: 24px;
    @include nxs {
      width: 20px;
      bottom: 26px;
    }
  }

  &__line:nth-of-type(3).cross-js {
    transform: rotate(-45deg);
    width: 34px;
    top: 21px;
    @include nxs {
      width: 20px;
      top: 21px;
    }
  }
  &__line:nth-of-type(3).cross-js.helicopter-js {
    width: 31px;
    top: 12px;
    right: 29px;
    transform: rotate(315deg);
    @include nxs {
      width: 20px;
      top: 13px;
    }
  }
  &__line:nth-of-type(2).cross-js.helicopter-js {
    right: 29px;
    width: 31px;
    bottom: 33px;
    transform: rotate(405deg);
    @include nxs {
      width: 20px;
      bottom: 34px;
    }
  }
  
  &__line.transparent-js {
    display: none;
  }


  &__nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-width: 1322px;
    font-family: $font;
    font-weight: 400;
    font-size: 24px;
    margin-right: 12px;
    @include nlgx {
      max-width: 84.2vw;
    }
  }
  &__logo {
    height: 95.47px;
    @include nlgx {
      height: 6.06vw;
    }
    @include nsm {
      height: 11.06vw;
    }
  }
  &__item {
    transition: color 0.1s ease-in, text-shadow 0.1s ease-in;
    @include nlgx {
      font-size: 1.54vw;
    }
  }
  &__item:hover {
    color: #3C3C3C;
    text-shadow: #3C3C3C 1px 0 1px;
  }
  &__popup-mob {
    text-align: center;
    transition: transform 0.4s ease-out;
    transform: translateY(-1500px);
    z-index: 10;
    display: none; 
    @include nsm {
      display: block;
    }
  }
  &__popup-mob.active {
    transform: translateY(-20px);
  }

  &__popup-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    border-radius: 0 0 3vw 3vw;
    background-color: #fff;
  }


  &__item-mob {
    font-size: 5.1vw;
    padding: 4.25vw 0vw;
    color: #3C3C3C;
  }

  &__phone-wrapper {
    border-top: 2px #E1EEFF solid;
    margin-top: 2vw;
    padding: 6.5vw 0vw 6vw 0vw;
    justify-content: center;
    display: flex;
  }

  &__img {
    width: 6.3vw;
    margin-right: 2vw;
    padding-top: 0.4vw;
  }

  &__phone {
    font-family: $font;
    font-weight: 600;
    font-size: 5.5vw;
    position: relative;
    color: #2468FF;
  }
  &__phone::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5vw;
    background-color: #2468FF;
    top: 6vw;
    left: 0;

  }
}
.description {
  height: 713px;
  border-radius: 15px;
  display: flex;
  justify-content: center;

  @include nlgx {
    height: 100%;
  }

  &__background {
    background: url("../content/images/description/desktop/bg.webp");
    background-size: cover;
    background-position: center;
    width: 155%;
    @include nsm {
      background: url("../content/images/mobil/description/bg.webp");
      background-size: cover;
      background-position: center;
    }
  }

  &__wrapper {
    padding-top: 68px;
    @include nlgx {
      padding-top: 4.3vw;
    }
    @include nsm {
      padding-top: 8.3vw;
      padding-left: 8px;
      margin-bottom: 11.5vw;
    }
  }

  &__title {
    font-size: 46px;
    max-width: 761px;
    line-height: 118%;
    @include nlgx {
      font-size: 2.86vw;
      max-width: 46vw;
    }
    @include nsm {
      font-size: 6.5vw;
      max-width: 100vw;
      margin-bottom: 7vw;
    }
  }

  &__text {
    max-width: 595px;
    font-weight: 400;
    line-height: 34px;
    @include nlgx {
      max-width: 38vw;
      line-height: 2.17vw;
    }
    @include nsm {
      max-width: 100vw;
      font-size: 4.6vw;
      line-height: 7.5vw;
    }
  }
  &__text:nth-of-type(1) {
    margin-top: 35px;
    @include nlgx {
      margin-top: 2.2vw;
    }
  }
  &__text:nth-of-type(2) {
    margin-top: 30px;
    @include nlgx {
      margin-top: 2.1vw;
    }
  }
  &__text2 {
    @include nsm {
      display: inline-block;
      margin-top: 1.4vw;
    }
  }
  &__button {
    margin-top: 46px;
    margin-left: 3px;
    @include nlgx {
      margin-top: 2.95vw;
    }
    @include nsm {
      margin-top: 7.5vw;
      font-size: 5.24vw;
      padding: 4.4vw 25.2vw;
      margin-left: 0px;
      border-radius: 8px;
    }
  }
  &__br {
    display: none;
    @include nsm {
      display: block;
    }
  }
}
.advantages {
  &__subtitle {
    text-align: left;
    font-family: $font;
    font-size: 43px;
    line-height: 42.48px;
    padding-top: 68px;
    margin-bottom: 69px;
    padding-left: 9px;
    @include nlgx {
      font-size: 2.74vw;
      line-height: 2.68vw;
      padding-top: 4.33vw;
      margin-bottom: 4.39vw;
      padding-left: 0.57vw;
    }
    @include nsm {
      font-size: 6.4vw;
      padding-top: 11.33vw;
      padding-left: 2vw;
      margin-bottom: 12.39vw;

    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    @include nsm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 368px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    @include nlgx {
      max-width: 23.44vw;
    }
    @include nsm {
      max-width: 97.8vw;
      margin-bottom: 8vw;
    }
  }

  &__img {
    width: 274px;
    margin-bottom: 12px;
    @include nlgx {
      width: 15.73vw;
      margin-bottom: 0.76vw;
    }
    @include nsm {
      width: 57.73vw;
      margin-bottom: 1.5vw;
    }
  }

  &__name {
    font-family: $font;
    font-weight: 600;
    font-size: 25px;
    line-height: 24.7px;
    margin-bottom: 16px;
    @include nlgx {
      font-size: 1.59vw;
      line-height: 1.53vw;
      margin-bottom: 1.02vw;
    }
    @include nsm {
      font-size: 4.59vw;
      line-height: 0.53vw;
      margin-bottom: 6.02vw;
    }
  }
  &__item:nth-of-type(3) > &__name{
    @include nsm {
      margin-bottom: 2.02vw;
      line-height: 8.53vw;
      // background-color: rebeccapurple;
    }
  }

  &__text {
    font-family: $font;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    @include nlgx {
      font-size: 1.27vw;
      line-height: 2.17vw;
    }
    @include nsm {
      font-size: 4.6vw;
      line-height: 7.17vw;
    }
  }
}
.services {

  &__subtitle {
    text-align: left;
    padding-top: 72px;
    font-size: 43px;
    margin-bottom: 40px;
  }


  &__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 168px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 363px;
    border-radius: 12px;
    padding: 40px 40px 13px 40px;
    background: linear-gradient(117.79deg, #FFFFFF -22.73%, #D6DFFF 126.83%);
  }

  &__name {
    font-weight: 500;
    font-size: 25px;
    line-height: 24.7px;
    color: #2468FF;

  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 133px;
  }

  &__text-group {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    width: 762px;
  }

  &__text2 {
    margin-bottom: 70px;
  }

  &__image-group {
    display: flex;
    flex-direction: column;
    width: 569px;
  }

  &__img {
    margin-bottom: 21.97px;
  }
}







