//главная обертка

.main-wrapper {
  position: relative;
  // overflow-x: scroll;
  max-width: 1920px;
  margin: 0 auto;
}

//главный контейнер

.container-box {
  max-width: 1230px;
  margin: 0 auto;
  box-sizing: border-box;

  @include nlg {
    max-width: 1023px;
    padding-left: 16px;
    padding-right: 16px;
    
  }
  @include nmd {
      width: 708px;
      padding: 0;
  }
  @include nsm {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
  }
  
}

.main-width {
  width: 1710px;
  margin: 0 auto;
  box-sizing: border-box;

  @include nlgx {
    width: 1240px;
    padding-left: 16px;
    padding-right: 16px;

    @include nlg {
      width: 1023px;
      padding-left: 16px;
      padding-right: 16px;

      @include nmd {
        width: 708px;
        padding-left: 0;
        padding-right: 0;

        @include nsm {
          width: 100%;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}


