//главная обертка

.main-wrapper {
  position: relative;
  // overflow-x: scroll;
  max-width: 1920px;
  margin: 0 auto;
}

//главный контейнер

.container-box {
  max-width: 1560px;
  margin: 0 auto;
  box-sizing: border-box;

  @include nlg {
    max-width: 1023px;
    padding-left: 16px;
    padding-right: 16px;
    
  }
  @include nmd {
      width: 708px;
      padding: 0;
  }
  @include nsm {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
  }
  
}



