.main-wrapper {
  position: relative;
  // overflow-x: scroll;
  max-width: 1920px;
  margin: 0 auto;
}


button {
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    padding: 27px 66px;
    border-radius: 10px;
    transition: box-shadow 0.1s ease-in-out, transform  0.05s ease-in;
    @include nlgx {
      font-size: 1.78vw;
      padding: 1.7vw 4.2vw;
    }
  
  }
  button:hover {
      box-shadow: 0px 0px 15px 2px rgba(36, 104, 255, 1);
      @include nsm {
        box-shadow: none;
      }
  }
  button:active {
    transform: scale(99%, 97%);
    box-shadow: 0px 0px 5x 0.5px rgba(36, 104, 255, 1);
  }

// .container-box {
//   max-width: 1560px;
//   margin: 0 auto;
//   box-sizing: border-box;

//   @include nlg {
//     max-width: 1023px;
//     padding-left: 16px;
//     padding-right: 16px;
    
//   }
//   @include nmd {
//       width: 708px;
//       padding: 0;
//   }
//   @include nsm {
//       width: 100%;
//       padding-left: 10px;
//       padding-right: 10px;
//   }
  
// }



