@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/content/HelveticaNeueCyr-Roman.woff') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/content/HelveticaNeueCyr-Medium.woff') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/content/HelveticaNeueCyr-Heavy.woff') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/content/HelveticaNeueCyr-bold.woff') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

