// MIXINS
@mixin fadeIn($opacity) {
  opacity: $opacity;
  transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -webkit-transition: opacity 0.25s ease-in;
}

@mixin fadeOut($opacity) {
  opacity: $opacity;
  transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
}

@mixin backgroundImageIn() {
  transition: background-image 0.25s ease-out;
  -moz-transition: background-image 0.25s ease-out;
  -webkit-transition: background-image 0.25s ease-out;
}

$bigScreen-media: 2100px;
$middleScreen-media: 1800px;
$fullScreen-media: 1250px;
$lg-media: 1200px;
$md-media: 1024px;
$mmd-media: 960px;
$sm-media: 780px;
$smm-media: 600px;
$xs-media: 540px;
$xxs-media: 450px;

@mixin nlgxx {
  @media all and (max-width: 1920px) {
    @content;
  }
}

@mixin nlgx {
  @media all and (max-width: 1570px) {
    @content;
  }
}

@mixin nlgm {
  @media all and (max-width: 1420px) {
    @content;
  }
}

// @mixin nlg {
//   @media all and (max-width: 1239px) {
//     @content;
//   }
// }
@mixin nlg {
  @media all and (max-width: 1359px) {
    @content;
  }
}

@mixin nlgs {
  @media all and (max-width: 1100px) {
    @content;
  }
}

@mixin nmd {
  @media all and (max-width: 1023px) {
    @content;
  }
}

@mixin nsm {
  @media all and (max-width: 767px) {
    @content;
  }
}

@mixin nxs {
  @media all and (max-width: 450px) {
    @content;
  }
}

@mixin nxxs {
  @media all and (max-width: 350px) {
    @content;
  }
}

@mixin bigScreen {
  @media (min-width: #{$bigScreen-media}) {
    @content;
  }
}

@mixin middleScreen {
  @media (max-width: #{$middleScreen-media}) {
    @content;
  }
}

@mixin fullScreen {
  @media (max-width: #{$fullScreen-media}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lg-media}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$md-media}) {
    @content;
  }
}

@mixin mmd {
  @media (max-width: #{$mmd-media}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm-media}) {
    @content;
  }
}

@mixin smm {
  @media (max-width: #{$smm-media}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$xs-media}) {
    @content;
  }
}

@mixin xxs {
  @media (max-width: #{$xxs-media}) {
    @content;
  }
}

//   TYPOGRAPHY
@font-face {
  font-family: 'Gothic';
  font-display: swap;
  src: url('/centurygothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  font-display: swap;
  src: url('/PTSans.eot');
  src: url('/PTSans.eot?#iefix') format('embedded-opentype'),
    url('/PTSans.woff2') format('woff2'), url('/PTSans.woff') format('woff'),
    url('/PTSans.ttf') format('truetype'),
    url('/PTSans.svg#PTSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  font-display: swap;
  src: url('/PTSansBold.eot');
  src: url('/PTSansBold.eot?#iefix') format('embedded-opentype'),
    url('/PTSansBold.woff2') format('woff2'),
    url('/PTSansBold.woff') format('woff'),
    url('/PTSansBold.ttf') format('truetype'),
    url('/PTSansBold.svg#PTSans') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  font-display: swap;
  src: url('/PTSansItalic.ttf') format('truetype');
  src: url('/PTSansItalic.woff2') format('woff2'),
    url('/PTSansItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSansNarrow';
  font-display: swap;
  src: url('/PTSansNarrow.eot');
  src: url('/PTSansNarrow.eot?#iefix') format('embedded-opentype'),
    url('/PTSansNarrow.woff2') format('woff2'),
    url('/PTSansNarrow.woff') format('woff'),
    url('/PTSansNarrow.ttf') format('truetype'),
    url('/PTSansNarrow.svg#PTSansNarrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansNarrow';
  font-display: swap;
  src: url('/PTSansNarrowBold.eot');
  src: url('/PTSansNarrowBold.eot?#iefix') format('embedded-opentype'),
    url('/PTSansNarrowBold.woff2') format('woff2'),
    url('/PTSansNarrowBold.woff') format('woff'),
    url('/PTSansNarrowBold.ttf') format('truetype'),
    url('/PTSansNarrowBold.svg#PTSansNarrow') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProLight';
  src: url('/MyriadProLight.eot');
  src: url('/MyriadProLight.eot?#iefix') format('embedded-opentype'),
    url('/MyriadProLight.woff') format('woff'),
    url('/MyriadProLight.woff2') format('woff2'),
    url('/MyriadProLight.ttf') format('truetype'),
    url('/MyriadProLight.svg#MyriadProLight') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/MyriadPro.otf') format('opentype');
  src: url('/MyriadPro.woff2') format('woff2'),
    url('/MyriadPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('/MyriadProBold.otf') format('opentype');
  src: url('/MyriadProBold.woff2') format('woff2'),
    url('/MyriadProBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PragmaticaC';
  src: url('/PTPragmaticaCyrillic.ttf') format('opentype');
  src: url('/PTPragmaticaCyrillic.woff2') format('woff2'),
    url('/PTPragmaticaCyrillic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PragmaticaC';
  src: url('/PTPragmaticaBoldCyrillic.ttf') format('opentype');
  src: url('/PTPragmaticaBoldCyrillic.woff2') format('woff2'),
    url('/PTPragmaticaBoldCyrillic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-display: swap;
  src: url('/Circe-Thin.eot');
  src: url('/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('/Circe-Thin.woff') format('woff'),
    url('/Circe-Thin.woff2') format('woff2'),
    url('/Circe-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  font-display: swap;
  src: url('/Circe-ExtraLight.eot');
  src: url('/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/Circe-ExtraLight.woff') format('woff'),
    url('/Circe-ExtraLight.woff2') format('woff2'),
    url('/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  font-display: swap;
  src: url('/Circe-Light.eot');
  src: url('/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('/Circe-Light.woff') format('woff'),
    url('/Circe-Light.woff2') format('woff2'),
    url('/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  font-display: swap;
  src: url('/Circe-Regular.eot');
  src: url('/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('/Circe-Regular.woff') format('woff'),
    url('/Circe-Regular.woff2') format('woff2'),
    url('/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  font-display: swap;
  src: url('/Circe-Bold.eot');
  src: url('/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('/Circe-Bold.woff') format('woff'),
    url('/Circe-Bold.woff2') format('woff2'),
    url('/Circe-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  font-display: swap;
  src: url('/Circe-ExtraBold.eot');
  src: url('/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/Circe-ExtraBold.woff') format('woff'),
    url('/Circe-ExtraBold.woff2') format('woff2'),
    url('/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/bebasneuethin.woff2') format('woff2');
  src: local('☺'), url('/bebasneuethin.woff') format('woff'),
    url('/bebasneuethin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/bebasneuelight.woff2') format('woff2');
  src: local('☺'), url('/bebasneuelight.ttf') format('truetype'),
    url('/bebasneuelight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/bebasneueregular.eot');
  src: local('☺'), url('/bebasneueregular.woff2') format('woff2'),
    url('/bebasneueregular.woff') format('woff'),
    url('/bebasneueregular.ttf') format('truetype'),
    url('/bebasneueregular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/bebasneuebold.eot');
  src: local('☺'), url('/bebasneuebold.woff2') format('woff2'),
    url('/bebasneuebold.woff') format('woff'),
    url('/bebasneuebold.ttf') format('truetype'),
    url('/bebasneuebold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'),
    url('/Montserrat-Light.woff2') format('woff2'),
    url('/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('/Montserrat-Regular.woff2') format('woff2'),
    url('/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('/Montserrat-Medium.woff2') format('woff2'),
    url('/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('/Montserrat-Bold.woff2') format('woff2'),
    url('/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'),
    url('/Montserrat-Black.woff2') format('woff2'),
    url('/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Morpha';
  font-display: swap;
  src: url('/Morpha-Bold.woff2') format('woff2');
  src: local('☺'), url('/Morpha-Bold.woff') format('woff'),
    url('/Morpha-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: local('NeueMachina-Bold'), local('NeueMachina-Bold'),
    url('/NeueMachina-Bold.woff2') format('woff2'),
    url('/NeueMachina-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: local('NeueMachina-Black'), local('NeueMachina-Black'),
    url('/NeueMachina-Black.woff2') format('woff2'),
    url('/NeueMachina-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cy Grotesk';
  font-display: swap;
  src: url('/cy-grotesk-grand-dark.otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RainerTestv04';
  src: url('/RainerTestv04-Bold.woff2'), url('/RainerTestv04-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anticva';
  font-display: swap;
  src: local('Anticva'), local('Anticva'),
    url('/Anticva-Regular.woff2') format('woff2'),
    url('/Anticva-Regular.woff') format('woff'),
    url('/Anticva-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: local('HalvarBreit-Blk'), local('HalvarBreit-Blk'),
    url('/HalvarBreit-Blk.woff2') format('woff2'),
    url('/HalvarBreit-Blk.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Damn';
  font-display: swap;
  src: local('Damn'), local('Damn'), url('/Damn.woff2') format('woff2'),
    url('/Damn.woff') format('woff'), url('/Damn.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monologue DEMO';
  font-display: swap;
  src: local('Monologue_DEMO'), local('Monologue_DEMO'),
    url('/Monologue_DEMO.woff') format('woff'),
    url('/Monologue_DEMO.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nasalization';
  font-display: swap;
  src: local('Nasalization'), local('Nasalization'),
    url('/Nasalization.woff') format('woff'),
    url('/Nasalization.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PatsySans';
  font-display: swap;
  src: local('PatsySans'), local('PatsySans'),
    url('/PatsySans.woff') format('woff'),
    url('/PatsySans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lighthaus';
  src: url('/Lighthaus.eot');
  src: url('/Lighthaus.eot?#iefix') format('embedded-opentype'),
    url('/Lighthaus.woff2') format('woff2'),
    url('/Lighthaus.woff') format('woff'),
    url('/Lighthaus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UltramonoWide-LightItalic';
  src: url('/UltramonoWide-LightItalic.woff2') format('woff2'),
    url('/UltramonoWide-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'UltramonoWide-Light';
  src: url('/UltramonoWide-Light.woff2') format('woff2'),
    url('/UltramonoWide-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nikkyou Sans';
  src: url('/NikkyouSans.woff2') format('woff2'),
    url('/NikkyouSans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corvetta';
  src: url('/Corvetta.woff2') format('woff2'),
    url('/Corvetta.woff') format('woff'),
    url('/Corvetta.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'a_LCDNovaObl';
  src: url('/a_lcdnovaobl.woff') format('woff'),
    url('/a_lcdnovaobl.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Felidae';
  src: url('/Felidae.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Expanded Trial';
  src: url('/MullerNextExtraCondTrial-Thin.otf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Expanded Trial';
  src: url('/MullerNextExpandedTrial-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Expanded Trial';
  src: url('/MullerNextExpandedTrial-ExtraBold.otf');
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Expanded Trial';
  src: url('/MullerNextExpandedTrial-Heavy.otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Expanded Trial';
  src: url('/MullerNextExpandedTrialThinItalic.otf');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next ExtraCond Trial';
  src: url('/MullerNextExtraCondTrial-ExtraBold.otf');
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next ExtraCond Trial';
  src: url('/MullerNextExtraCondTrial-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next ExtraCond Trial';
  src: url('/MullerNextExtraCondTrialThin.otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Trial';
  src: url('/MullerNextTrial-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Trial';
  src: url('/MullerNextTrial-ExtraBold.otf');
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Next Wide Trial';
  src: url('/MullerNextTrial-ThinItalic.woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Cakra';
  src: url('/Cakra-Normal.otf') format('opentype');
  src: url('/Cakra-Normal.woff2') format('woff2'),
    url('/Cakra-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noteworthy';
  src: url('/NoteworthyLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Technology';
  src: url('/Technology.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Technology';
  src: url('/Technology-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/Unbounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('/snell-roundhand-900.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('/snell-roundhand-700.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lighthaus';
  src: url('/Lighthaus-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

//   VARS

// $font-pt-sans: 'Futura PT', sans-serif;
// $font-pt-sans-narrow: 'Futura PT', sans-serif;
// $font-arial: 'Futura PT', 'Helvetica Neue', 'Helvetica', sans-serif;
// $font-tahoma: 'Futura PT', 'Verdana', 'Segoe', sans-serif;
// $font-myriad: 'Futura PT', 'Calibri', 'Lucida Sans', 'Segoe UI', sans serif;
// $font-myriad-light: 'Futura PT', sans serif;
// $font-myriad-bold: 'Futura PT', sans serif;
// $font-pragmatica-c: 'Futura PT', sans serif;
// $font-montserrat: 'Futura PT';
// $font-porsche: 'Futura PT';
// $font-petrov: 'Futura PT';
// $font-gilroy: 'Gilroy';

$font-h2: Clamp(28.964px, 3.7vw, 48.913px);

$color-white: #fff;
$color-black: #000;
$color-red-test: #950804;

$color-vinous: #580000;
$color-orange-light: #ff4200;
$color-gray-darkest-dark: #1d1d1d;
$color-green: #4c9714;
$color-gray-light: #323232;
$color-gray-light2: #333333;
$color-gray-light3: #383838;
$color-red-darkest-dark: #580000;

$color-text-grey-light: #d3d3d3;

/* --------------------------------- */
$color-white-beige: #dfdcd7;
$color-red-light: #c81411;
$color-red: #9b0805;
$color-red-dark: #830a06;
$color-red-darkest-light: #710805;
$color-red-darkest: #71080b;

$color-gray-lighter: #b7b7b7;

$color-gray: #242424;
$color-gray-darkest: #181818;
$color-blue-light: #43bec4;
$color-green-light: #8fc765;
$color-orange-dark: #c65c06;
$color-orange: #f37108;

$color-text-white-darkest: #e6e6e6;
$color-text-grey: #7d7d7d;

$color-border-grey: $color-gray-light;
$color-box-bg-gray-darkest: $color-gray-darkest;

$color-title-light-blue: $color-blue-light;

$YRealWhite: #ffffff;
$YBadWhite: #f1f1f1;
$YBlack: #181818;
$YSovsemBlack: #000000;
$YSeniorGray: #383838;
$YRareGrey: #939393;
$YMediumGrey: #575757;
$YRed: #e03638;
$YGreen: #5b8930;
$YGreyBlue: #233146;
$YBadBlue: #00418c;

$MainColor: #383838;
$Buttons: #e03638;
$ButtonsHover: #992325;
$Accent: #30006f;

//buttons

@mixin btns-3 {
  font-family: $font-arial;
  font-weight: 400;
  font-size: Clamp(20px, 3vw, 31px);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $YRealWhite;
  background: $YRed;
  border-radius: 15px;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $YGreyBlue;
  }
}

@mixin contacts-wrapper {
  background: $YRealWhite;
  border-radius: 15px;
}
