// MIXINS
@mixin fadeIn($opacity) {
  opacity: $opacity;
  transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -webkit-transition: opacity 0.25s ease-in;
}

@mixin fadeOut($opacity) {
  opacity: $opacity;
  transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
}

@mixin backgroundImageIn() {
  transition: background-image 0.25s ease-out;
  -moz-transition: background-image 0.25s ease-out;
  -webkit-transition: background-image 0.25s ease-out;
}

$bigScreen-media: 2100px;
$middleScreen-media: 1800px;
$fullScreen-media: 1250px;
$lg-media: 1200px;
$md-media: 1024px;
$mmd-media: 960px;
$sm-media: 780px;
$smm-media: 600px;
$xs-media: 540px;
$xxs-media: 450px;

@mixin nlgxx {
  @media all and (max-width: 1920px) {
    @content;
  }
}

@mixin nlgx {
  @media all and (max-width: 1570px) {
    @content;
  }
}

@mixin nlgm {
  @media all and (max-width: 1420px) {
    @content;
  }
}

// @mixin nlg {
//   @media all and (max-width: 1239px) {
//     @content;
//   }
// }
@mixin nlg {
  @media all and (max-width: 1359px) {
    @content;
  }
}

@mixin nlgs {
  @media all and (max-width: 1100px) {
    @content;
  }
}

@mixin nmd {
  @media all and (max-width: 1023px) {
    @content;
  }
}

@mixin nsm {
  @media all and (max-width: 767px) {
    @content;
  }
}

@mixin nxs {
  @media all and (max-width: 450px) {
    @content;
  }
}

@mixin nxxs {
  @media all and (max-width: 350px) {
    @content;
  }
}

@mixin bigScreen {
  @media (min-width: #{$bigScreen-media}) {
    @content;
  }
}

@mixin middleScreen {
  @media (max-width: #{$middleScreen-media}) {
    @content;
  }
}

@mixin fullScreen {
  @media (max-width: #{$fullScreen-media}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lg-media}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$md-media}) {
    @content;
  }
}

@mixin mmd {
  @media (max-width: #{$mmd-media}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm-media}) {
    @content;
  }
}

@mixin smm {
  @media (max-width: #{$smm-media}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$xs-media}) {
    @content;
  }
}

@mixin xxs {
  @media (max-width: #{$xxs-media}) {
    @content;
  }
}


//   VARS

$font: 'HelveticaNeueCyr';

$font-h2: Clamp(28.964px, 3.7vw, 48.913px);

$color-white: #fff;
$color-black: #000;
$color-red-test: #950804;

$color-vinous: #580000;
$color-orange-light: #ff4200;
$color-gray-darkest-dark: #1d1d1d;
$color-green: #4c9714;
$color-gray-light: #323232;
$color-gray-light2: #333333;
$color-gray-light3: #383838;
$color-red-darkest-dark: #580000;

$color-text-grey-light: #d3d3d3;

/* --------------------------------- */
$color-white-beige: #dfdcd7;
$color-red-light: #c81411;
$color-red: #9b0805;
$color-red-dark: #830a06;
$color-red-darkest-light: #710805;
$color-red-darkest: #71080b;

$color-gray-lighter: #b7b7b7;

$color-gray: #242424;
$color-gray-darkest: #181818;
$color-blue-light: #43bec4;
$color-green-light: #8fc765;
$color-orange-dark: #c65c06;
$color-orange: #f37108;

$color-text-white-darkest: #e6e6e6;
$color-text-grey: #7d7d7d;

$color-border-grey: $color-gray-light;
$color-box-bg-gray-darkest: $color-gray-darkest;

$color-title-light-blue: $color-blue-light;

$YRealWhite: #ffffff;
$YBadWhite: #f1f1f1;
$YBlack: #181818;
$YSovsemBlack: #000000;
$YSeniorGray: #383838;
$YRareGrey: #939393;
$YMediumGrey: #575757;
$YRed: #e03638;
$YGreen: #5b8930;
$YGreyBlue: #233146;
$YBadBlue: #00418c;

$MainColor: #383838;
$Buttons: #e03638;
$ButtonsHover: #992325;
$Accent: #30006f;

//buttons

@mixin btns-3 {
  font-family: $font-arial;
  font-weight: 400;
  font-size: Clamp(20px, 3vw, 31px);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $YRealWhite;
  background: $YRed;
  border-radius: 15px;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $YGreyBlue;
  }
}

@mixin contacts-wrapper {
  background: $YRealWhite;
  border-radius: 15px;
}
